/* Norms */

body,
html {
  font-size: 16px;
  font-family: sans-serif, Verdana, Geneva, Tahoma;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin: 1rem 0;
}

/* Utility classes */

.f1 {
  font-size: 2.5rem;
}
.f2 {
  font-size: 1.75rem;
}

.f3 {
  font-size: 0.75rem;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.align-flex-start {
  align-self: flex-start;
}

.align-flex-end {
  align-self: flex-end;
}

.popHeading {
  background-color: #fa4616;
  padding: 10px;
  display: inline-block;
  color: #fff;
}

.brandColor1-color {
  color: #fa4616;
}

.brandColor1-bg {
  background-color: #fa4616;
}

.greyColor {
  color: #666;
}

/* App Component */

.layoutContainer {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 10px auto;
}

main {
  margin: 0 auto;
}

ul.prodList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

ul.prodList li {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .layoutContainer {
    flex-direction: row;
  }
}

@media only screen and (min-width: 475px) {
  ul.prodList li {
    width: auto;
  }
}

/* Pagination Component */

.paginationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationBtn {
  border: 1px solid #fa4616;
  background-color: #fff;
  color: #333;
  padding: 5px;
  height: 30px;
  width: 30px;
  font-weight: bold;
  font-size: 0.75rem;
  margin: 0 2px 2px 0;
  transition: all 250ms ease-out;
}

.paginationBtn.selected,
.paginationBtn.selected:hover,
.paginationBtn.selected:focus {
  background-color: #fa4616;
  color: #fff;
}

.paginationBtn:hover {
  cursor: pointer;
  background-color: #eee;
  color: #000;
}

.paginationBtn:focus {
  outline: none;
  border-color: #d1350a;
  background-color: #f17f5f;
}

.paginationContainer .totalProducts {
  margin: 5px;
}
